<% form_for @color_swatch do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :palette_id %><br />
    <%= f.text_field :palette_id %>
  </p>
  <p>
    <%= f.label :hex %><br />
    <%= f.text_field :hex %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
