<% title "Log in" %>
    <h1><%= yield(:title) %></h1>

<p>Don't have an account? <%= link_to "Sign up!", signup_path %></p>
<div id="login">
<% form_tag sessions_path do %>
  <h3>Log In To Your Account:</h3><br />
  <fieldset>
    <%= label_tag :login, "Username or Email" %>
    <%= text_field_tag :login, params[:login] %>
  </fieldset>
  <fieldset>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </fieldset>
  <p class="align_right"><%= submit_tag "Log In" %></p>
<% end %>
</div>