<div class="common">
<% form_for [current_project, @note] do |f| %>
<h3>Your Note:</h3><br />
  <%= f.error_messages %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= f.label :content %>
    <%= f.text_area :content, :rows => 6 %>
  </fieldset>
  <p class="align_right"><%= f.submit "Submit" %></p>
<% end %>
