<div class="common">
<% form_for [current_project, @note] do |f| %>
<h3>Your Note:</h3><br />
  <%= f.error_messages %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= f.label :content %>
    <%= f.text_area :content, :rows => 10 %>
  </fieldset>
  <p class="align_right">
	<%= f.submit "Save Note" %><br /><br />
	<small>Notes support <a href="/textile.html?TB_iframe=true&height=400&width=400" title="Textile Help" class="thickbox">textile</a> formatting.</small>
  </p>
<% end %>
</div>