	<div class="item">
		<h2><span>Notes: (<%= current_project.notes.count %>)</span><% if owner? %><span class="align_right"><%= link_to image_tag("/images/new_note_btn.png", :alt=>"New Note"), new_project_note_path(project_param) %></span><% end %></h2>
		<ul class="linklist">
	  	<%
	  	if current_project.notes.count > 0
	  	  for note in current_project.notes.recent(5) %>
  		    <li><%= link_to h(note.name), project_note_path(project_param, note) %> <span class="date">(<%= note.created_at.strftime("%b, %d %Y at %I:%M %p") %>)</span><p style="padding-right:20px;"><%=h truncate(note.content, 255, '...') %></p></li>
  		  <% end %>
  		<% else %>
  			<li><em>This project has no notes.</em></li>
  	  	<% end %>
  	  	</ul>
  	  	<%= link_to "View All Notes &#187;", project_notes_path(project_param) %>
	</div>	
