<div id="left_col">
	<% title "View Note: " + @note.name %>
	<p>
	  <%= link_to image_tag("/images/edit_note_btn.png", :alt => "Edit Note"), edit_project_note_path(current_project, @note) %> 
	  <%= link_to image_tag("/images/delete_note_btn.png", :alt => "Delete Note"), [current_project, @note], :confirm => 'Are you sure?', :method => :delete %>
	</p>
	<p>
	  <strong>Project:</strong>
	  <%=h @note.project.name %>
	</p>
	<p>
	  <strong>Name:</strong>
	  <%=h @note.name %>
	</p>
	<p>
	  <strong>Content:</strong>
	  <%=h @note.content %>
	</p>
</div>
<div id="sidebar">
  <h3><%= link_to "&#187; Back to Project Home", project_path(current_project) %></h3>
  <%= render :partial => "projects/project_sidebar"  %>
</div>