<div id="left_col">
	<% title "View Note: " + h(@note.name) %>
    <h1><%= yield(:title) %></h1>
  <% if owner? %>
	  <%= link_to image_tag("/images/edit_note_btn.png", :alt => "Edit Note"), edit_project_note_path(project_param, @note) %> 
	  <%= link_to image_tag("/images/delete_note_btn.png", :alt => "Delete Note"), [current_project, @note], :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	<div class="big_desc" style="margin:0; padding:0; border:none;"><%= textilize @note.content %></div>
</div>
<div id="sidebar">
  <h3><%= link_to "&#187; Back to Project Home", project_path(project_param) %></h3>
  <%= render :partial => "projects/project_sidebar"  %>
</div>