<div id="left_col">
	<% title "View Note: " + @note.name %>

<p>
  <strong>Name:</strong>
  <%=h @note.name %>
</p>
<p>
  <strong>Content:</strong>
  <%=h @note.content %>
</p>
<p>
  <strong>Project:</strong>
  <%=h @note.project_id %>
</p>

<p>
  <%= link_to "Edit", edit_project_note_path(current_project, @note) %> |
  <%= link_to "Destroy", project_note_path(current_project, @note), :confirm => 'Are you sure?', :method => :delete %> |
</p>
