<% form_for [current_project, @palette] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :color_hex_1 %><br />
    <%= f.text_field :color_hex_1 %>
  </p>
  <p>
    <%= f.label :color_hex_2 %><br />
    <%= f.text_field :color_hex_2 %>
  </p>
  <p>
    <%= f.label :color_hex_3 %><br />
    <%= f.text_field :color_hex_3 %>
  </p>
  <p>
    <%= f.label :color_hex_4 %><br />
    <%= f.text_field :color_hex_4 %>
  </p>
  <p>
    <%= f.label :color_hex_5 %><br />
    <%= f.text_field :color_hex_5 %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
