	<div class="item">	
		<h2><span>Palettes: (<%= current_project.palettes.count %>)</span><span class="align_right"><%= link_to image_tag("/images/new_palette_btn.png", :alt=>"New Palette"), new_project_palette_path(current_project) %></span></h2>
		<ul class="linklist">
	  	<%
	  	if current_project.palettes.count > 0
	  	  for palette in current_project.palettes.recent(5) %>
  		    <li>
  		    	<%= link_to palette.name, edit_project_palette_path(current_project, palette) %> <span class="date">(<%= palette.created_at.strftime("%b, %d %Y at %I:%M %p") %>)</span>
  		    	<div id="palette_small">
  		    		<% for swatch in palette.color_swatches %>
	  		    		<div class="small_swatch" style="background:<%= swatch.hex %>"></div>
	  		    	<% end %>
  		    	</div>
  		    </li>
  		  <% end %>
  		<% else %>
  			<li><em>This project has no palettes.</em></li>
  	  	<% end %>
  	  	</ul>
  	  	<%= link_to "View All Paletes &#187;", project_palettes_path(current_project) %>
  	</div>
