<div id="left_col">
	<% title "Edit Palette: " + @palette.name %>
    <h1><%= yield(:title) %></h1>
	<%= render :partial => 'form' %>
	<p class="clear"><br /><br /><%= link_to image_tag("/images/delete_palette_btn.png", :alt => "Delete Palette"), [current_project, @palette], :confirm => 'Are you sure?', :method => :delete %></p>
</div>
<div id="sidebar">
  <h3><%= link_to "&#187; Back to Project Home", project_path(project_param) %></h3>
  <%= render :partial => "projects/project_sidebar"  %>
</div>
