<% title "Palettes" %>

<table>
  <tr>
    <th>Name</th>
    <th>Project</th>
  </tr>
  <% for palette in @palettes %>
    <tr>
      <td><%=h palette.name %></td>
      <td><%=h palette.project_id %></td>
      <td><%= link_to "Edit", edit_project_palette_path(current_project, palette) %></td>
      <td><%= link_to "Destroy", [current_project, palette], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Palette", new_project_palette_path(current_project) %></p>
