<div class="common">
<% form_for [current_project, @code_snippet] do |f| %>
  <h3>Your Code Snippet:</h3><br />
  <%= f.error_messages %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= f.label :content %>
    <%= f.text_area :content, { :cols => 20, :wrap => "off" } %>
  </fieldset>
  <fieldset>
  	<% @languages = [ "Ruby", "C", "Delphi", "HTML", "RHTML", "CSS", "Diff", "Java", "JavaScript", "JSON", "YAML"] %>
    <%= f.label :language %>
    <%= f.select :language, @languages %>
  </fieldset>
  <p class="align_right"><%= f.submit "Save Code Snippet" %></p>
<% end %>
</div>