<% stylesheet 'coderay' %>

<div id="left_col">
	<% title "Code Snippet: " + @code_snippet.name %>
    <h1><%=h yield(:title) %></h1>
	<% if owner? %><p>
	  <%= link_to image_tag("/images/edit_code_btn.png", :alt => "Edit Code"), edit_project_code_snippet_path(project_param, @code_snippet) %> 
	  <%= link_to image_tag("/images/delete_code_btn.png", :alt => "Delete Code"), [current_project, @code_snippet], :confirm => 'Are you sure?', :method => :delete %>
	</p><% end %>
	<p>
	  <strong>Language:</strong>
	  <%=h @code_snippet.language %><br />
	  <strong>Created On: </strong><%= @code_snippet.created_at.strftime("%b, %d %Y at %I:%M %p") %><br />
	  <strong>Last Updated On: </strong><%= @code_snippet.updated_at.strftime("%b, %d %Y at %I:%M %p") %>
	</p>
	  <%= coderay @code_snippet %>
</div>
<div id="sidebar">
  <h3><%= link_to "&#187; Back to Project Home", project_path(project_param) %></h3>
  <%= render :partial => "projects/project_sidebar"  %>
</div>