<% title "Edit My Account" %>

<% form_for @user do |f| %>
  <h3>Edit My Account:</h3>
  <%= f.error_messages %><br />
  <fieldset>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </fieldset>
  <fieldset>
    <%= f.label :email, "Email Address" %>
    <%= f.text_field :email %>
  </fieldset>
  <fieldset>
    <%= f.label :password, "Change Password" %>
    <%= f.password_field :password %>
  </fieldset>
  <fieldset>
    <%= f.label :password_confirmation, "Confirm Changed Password" %>
    <%= f.password_field :password_confirmation %>
  </fieldset>
  <p class="align_right"><%= f.submit "Update Account" %></p>
<% end %>
