<% title "Sign up" %>

<p>Already have an account? <%= link_to "Log in", login_path %>.</p>
<% form_for @user do |f| %>
  <h3>Create A New Account:</h3>
  <%= f.error_messages %><br />
  <fieldset>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </fieldset>
  <fieldset>
    <%= f.label :email, "Email Address" %>
    <%= f.text_field :email %>
  </fieldset>
  <fieldset>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </fieldset>
  <fieldset>
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
  </p>
  </fieldset>
  <p class="align_right"><%= f.submit "Sign up" %></p>
<% end %>
