<div id="left_col">
	<% title "About My Idea Drawer" %>
	<h1><%= yield(:title) %></h1>
	<p class="big_desc">
	<%= image_tag "about.png", :align => "left" %>
	<strong>MyIdeaDrawer</strong> lets you organize everything you need for your next project, all in one place. Whether you're building a web site, redesigning a room, or putting togther a school report. Organize code, links, notes, palettes, photos, and screen shots all in one convenient location.
	<br /><br />
	<strong>MyIdeaDrawer</strong> was built in just under 48 hours, during the 2-day <a href="http://railsrumble.com">Rails Rumble 2008</a> competition by Ryan Bates and Kelli Shaver. We'd like to thank many staff, sponsors, volunteers, and participants who made this competition possible and we invite each and every one of you to look around and explore oru application. Remeber, if you like <strong>MyIdeaDrawer</strong>, please don't forget to <a href="http://myideadrawer.vote.railsrumble.com">Vote For Us</a>!</p>
		
	<p class="big_desc"><strong>About Kelli Shaver:</strong> <a href="http://kellishaver.com">Kelli</a> has been designing and developing web sites professionally for eight years. Although also a competent back-end programmer, Kelli chooses to specialize in front-end/user-interface design, HTML, CSS, javaScript, and icon design.</p>
	 
	<p class="big_desc"><strong>About Ryan Bates:</strong> Ryan Bates has been involved in web development since 1998. In 2005 he started working professionally with Ruby on Rails and is now best known for his work on <a href="http://railscasts.com">Railscasts</a>, the free Ruby on Rails screencast series.</p>
	
	<p class="big_desc"><strong>More Rails Rumble goodness from our team:</strong> Can't get enough? Don't worry, soon you'll be able to download the source code for this project via <a href="http://githubs.com">GitHub</a>. You may also want to check out our 2007 Rails Rumble project, <a href="http://github.com/ryanb/admiteer/tree/master">Admiteer</a>.</p>
</div>
<div id="sidebar">
	<br /><br />
	<%= link_to image_tag("vote.png"), "http://myideadrawer.vote.railsrumble.com" %>
	<br /><br />
	<%= link_to image_tag("ryan.png"), "http://railscasts.com" %>
	<br /><br />
	<%= link_to image_tag("kelli.png"), "http://kellishaver.com" %>
</div>