<%= image_tag "splash.png", :id => "splash" %>
	<% title "Welcome to My Idea Drawer" %>
	<h1 class="main_title">Organize, collect, and share your projects with MyIdeaDrawer. It's fast, easy, free. <a href="/tour">Take a tour!</a></h1>
	
	<div class="col">
		<h2>1. Get Organized</h2>
		<%= image_tag "screenshot1.gif" %>
		<p class="big"><strong>MyIdeaDrawer</strong> lets you organize everything you need for your next project, all in one place. Whether you're building a web site, redesigning a room, or putting togther a school report. Organize code, links, notes, palettes, photos, and screen shots all in one convenient location.</p>
	</div>
	
	<div class="col">
		<h2>2. Share Projects</h2>
		<p class="big">With <strong>MyIdeaDrawer</strong>, sharing a project with a co-worker, client, or friend is as easy as sending them a URL.</p>
		<%= image_tag "sharing.gif" %>
		<p class="big">Instantly, the person you're sharing with will have read-only access to your project, and to your project's RSS feed.</p>
	</div>
	
	<div class="col">
		<h2>3. Getting Started</h2>
		<p class="big">Getting started with <strong>MyIdeaDrawer</strong> is a snap. Simply enter your OpenID in the form below. If you don't have an OpenID, you can <a href="http://myopenid.com">sign up for one</a> or <a href="/join">join us by filling out our user registraion form</a>.</p>
		<% form_tag sessions_path do %>
		  <h3>Or use OpenID:</h3><br />
		  <fieldset>
		    <%= label_tag :openid_url, "OpenID URL" %>
		    <%= text_field_tag :openid_url, params[:openid_url] %>
		  </fieldset>
		  <p class="align_right"><%= submit_tag "Let's Go!" %></p>
		<% end %>
	</div>
	<div class="rumble">
		<p><strong>MyIdeaDrawer</strong> is a <a href="http://railsrumble.com">Rails Rumble 2008</a> project!<br /><br />
		If you're visiting <strong>MyIdeaDrawer</strong> for the first time, chances are, you're here as part of <a href="http://railsrumble.com">Rails Rumble 2008</a>. We'd like to thank many staff, sponsors, volunteers, and participants who made this competition possible and we invite each and every one of you to look around and explore oru application.<br /><br />
		If you like this project, please don't forget to <a href="http://myideadrawer.vote.railsrumble.com">Vote For Us</a>!
		</p>
	</div>
	