<div class="common">
<% form_for @project do |f| %>
<h3>Project Details</h3><br />
  <%= f.error_messages %>
	<fieldset>
	    <%= f.label :name %>
	    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 6 %>
  </fieldset>
  <div class="box">
  	<p><strong>Show These Items:</strong></p>
  <% %w[code_snippets links notes palettes photos screenshots].each do |item| %>
    <p class="half">
      <%= f.check_box "show_#{item}" %>
      <%= f.label "show_#{item}" %>
    </p>
  <% end %>
  <p>&nbsp;</p>
  </div>
  <p class="align_right clear"><%= f.submit "Save Project" %></p>
<% end %>
</div>
<br />  <br />