<div class="common">
<% form_for @project do |f| %>
<h3>Project Details</h3><br />
  <%= f.error_messages %>
	<fieldset>
	    <%= f.label :name %>
	    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 6 %>
  </fieldset>
  <p class="align_right"><%= f.submit "Save Project" %></p>

<% end %>
</div>
<br />  <br />