You're viewing "<%= link_to h(@project.name), project_path(project_param) %>", last active on  <%=h @project.last_activity_at.strftime("%b, %d %Y at %I:%M %p") %>.
<br /><br />
<h4>Project Tools</h4>
<ul class="linklist">
	<% if @project.show_code_snippets? %>
	<li><%= link_to "Code Snippets", project_code_snippets_path(project_param) %></li>
	<% end %>
	<% if @project.show_links? %>
	<li><%= link_to "Links", project_links_path(project_param) %></li>
	<% end %>
	<% if @project.show_notes? %>
	<li><%= link_to "Notes", project_notes_path(project_param) %></li>
	<% end %>
	<% if @project.show_palettes? %>
	<li><%= link_to "Palettes", project_palettes_path(project_param) %></li>
	<% end %>
	<% if @project.show_photos? %>
	<li><%= link_to "Photos", project_photos_path(project_param) %></li>
	<% end %>
	<% if @project.show_screenshots? %>
	<li><%= link_to "Screenshots", project_screenshots_path(project_param) %></li>
	<% end %>
</ul>
<h4>Recent Activity</h4>
<% for activity in @project.activities.recent(10) %>
	<p><%= activity.message %> at <%= activity.created_at.strftime("%b, %d %Y at %I:%M %p") %></p>
<% end %>
<br />
<%= link_to image_tag("/images/rss.jpg", :alt => "RSS Feed"), formatted_project_activities_path(current_project.token, :rss), :title => "RSS Feed" %>
