<div id="left_col">
	<% title "Your Projects" %>
	<% for project in @projects %>
	<div class="item <%= cycle('normal', 'alt') %>">
	   <h3><%= link_to project.name, project %> <span class="date">(Last Active on <%=h project.last_activity_at.strftime("%b, %d %Y at %I:%M%p") %>)</span></h3>
	   <p class="desc"><%=h project.description %></p>
	   <div class="project_links">
	     <%= link_to " Links", "#" %>
	     <%= link_to " Notes (" + project.notes.count.to_s + ")", "#" %>
	     <%= link_to " Palettes", "#" %>
	     <%= link_to " Photos", "#" %>
	     <%= link_to " Screenshots", "#" %>
	   </div>
	</div>
	<% end %>
	<%= will_paginate @projects %>
</div>

<div id="sidebar">
  <%= render :partial => "projects_overview_sidebar"  %>
</div>