<% title "Projects" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Last Activity At</th>
  </tr>
  <% for project in @projects %>
    <tr>
      <td><%=h project.name %></td>
      <td><%=h project.description %></td>
      <td><%=h project.last_activity_at %></td>
      <td><%= link_to "Show", project %></td>
      <td><%= link_to "Edit", edit_project_path(project) %></td>
      <td><%= link_to "Destroy", project, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Project", new_project_path %></p>
