<div id="left_col">
	<% title "Create A New Project" %>
	<%= render :partial => 'form' %>
	<p><%= link_to "Back to List", projects_path %></p>
</div>
<div id="sidebar">
  <%= render :partial => "projects_overview_sidebar"  %>
</div>
<div id="sidebar">
  <h3><%= link_to "&#187; Back to Project Home", project_path(current_project) %></h3>
  <%= render :partial => "projects/project_sidebar"  %>
</div>