<div id="left_col">
	<% title "Viewing Project: " + @project.name %>
	<% if owner? %><p id="action_btns" class="align_right"><%= link_to image_tag("/images/edit_project_btn.png",  :alt => "Edit Project"), edit_project_path(@project) %> <%= link_to  image_tag("/images/delete_project_btn.png",  :alt => "delete Project"), @project, :confirm => 'Are you sure?', :method => :delete %></p><% end %>
    <h1 <% if owner? %>class="short"<% end %>><%=h yield(:title) %></h1>
	<span class="date">(Last Active on <%=h @project.last_activity_at.strftime("%b, %d %Y at %I:%M %p") %>)</span>
	<% if owner? %>
	<p class="item alt">
		<strong>Share This:</strong> <%= auto_link share_project_url(@project.token) %>
		<br />This is your project sharing URL. You can give it to people so they can look at (but not edit) this project.
	</p>
	<% end %>
	<p class="big_desc">
	  <%=h @project.description %>
	</p>
	<br />
	<% if @project.show_code_snippets? %>
		<%= render :partial => 'code_snippets/latest' %>
	<% end %>
	<% if @project.show_links? %>
		<%= render :partial => 'links/latest' %>
	<% end %>
	<% if @project.show_notes? %>
		<%= render :partial => 'notes/latest' %>
	<% end %>
	<% if @project.show_palettes? %>
		<%= render :partial => 'palettes/latest' %>
	<% end %>
	<% if @project.show_photos? %>
		<%= render :partial => 'photos/latest' %>
	<% end %>
	<% if @project.show_screenshots? %>
		<%= render :partial => 'screenshots/latest' %>
	<% end %>
</div>

<div id="sidebar">
  <%= render :partial => "project_sidebar"  %>
</div>