<div id="left_col">
	<% title "Viewing Project: " + @project.name %>
	<span class="date">(Last Active on <%=h @project.last_activity_at.strftime("%b, %d %Y at %I:%M%p") %>)</span>
	<p class="big_desc">
	  <%=h @project.description %>
	</p>
	
	<p>
	  <%= link_to "Edit", edit_project_path(@project) %> |
	  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %> |
	</p>
</div>

<div id="sidebar">
  <%= render :partial => "project_sidebar"  %>
</div>