<div class="common">
	<% form_for [current_project, @link] do |f| %>
	<h3>Link Details:</h3>
	<%= f.error_messages %>
	<fieldset>
    	<%= f.label :name %>
    	<%= f.text_field :name %>
  	</fieldset>
	<fieldset>
	    <%= f.label :url %>
	    <%= f.text_field :url %>
	</fieldset>
    <fieldset>
    	<%= f.label :description %>
    	<%= f.text_field :description, :maxlength => 255 %>
    </fieldset>
	<p class="align_right"><%= f.submit "Add Link" %></p>
	<% end %>
</div>
