<div id="left_col">
	<% title "Browse Links for: " + h(current_project.name) %>
    <h1><%= yield(:title) %></h1>
	<% if owner? %><%= link_to image_tag("/images/new_link_btn.png", :alt=>"New Link"), new_project_link_path(project_param) + "?width=630&amp;height=250", :class => "thickbox" %>	<% end %>
	<ul class="linklist managelist">
	  	<%
	  	if current_project.links.count > 0
	  	  for link in current_project.links %>
  		    <li class="<%= cycle('normal', 'alt') %>">
  		    	<span class="info2"><%= link_to link.name, link.url %> <span class="date">(<%= link.created_at.strftime("%b, %d %Y at %I:%M %p") %>)</span><br /><%= link.description %></span>
	  			<%= link_to image_tag("/images/delete_link_btn.png", :alt => "Delete Link"), [current_project, link], :confirm => 'Are you sure?', :method => :delete, :class => "del_btn" %>
  		   	</li>
  		  <% end %>
  		<% else %>
  			<li><em>This project has no links.</em></li>
  	  	<% end %>
  	  	</ul>
	<%= will_paginate @links %>
</div>
<div id="sidebar">
  <h3><%= link_to "&#187; Back to Project Home", project_path(project_param) %></h3>
  <%= render :partial => "projects/project_sidebar"  %>
</div>
