	<% form_for [current_project, @photo], :html => { :multipart => true } do |f| %>
	<h3>Photo Details:</h3><br />
	  <%= f.error_messages %>
	  <fieldset>
	    <%= f.label :name %>
	    <%= f.text_field :name %>
	  </fieldset>
	  <fieldset>
		  <%= f.label :image %>
		  <%= f.file_field :image %>
	  </fieldset>
	  <p class="align_right"><%= f.submit "Submit" %></p>
	<% end %>
