	<div class="item">	
		<h2><span>Photos: (<%= current_project.photos.count %>)</span><span class="align_right"><%= link_to image_tag("/images/new_photo_btn.png", :alt=>"New Photo"), new_project_photo_path(current_project) %> &nbsp; <%= link_to image_tag("/images/manage_btn.png", :alt=>"Manage Photos"), manage_project_photos_path(current_project) %></span></h2>
	  	<%
	  	if current_project.photos.count > 0
	  	  for photo in current_project.photos.recent(3) %>
	    	<div class="thumb <%= cycle('normal', 'alt') %>">
	    		<%= link_to image_tag(photo.image.url(:small)), photo.image.url, :class => "thickbox", :rel => current_project.name %>
	    		<div class="name"><%= photo.name %><br /><%= photo.created_at.strftime("%b, %d %Y at %I:%M %p") %></div>
	    	</div>
  		  <% end %>
		  <div class="clear"><br /></div>
  		<% else %>
		<ul class="linklist">
  			<li><em>This project has no photos.</em></li>
  	  	</ul>
  	  	<% end %>
  	  	<%= link_to "View All Photos &#187;", project_photos_path(current_project) %>
  	</div>
