<div id="left_col">
	<% title "Browse Photos for: " + current_project.name %>
	<%= link_to image_tag("/images/new_photo_btn.png", :alt=>"New Photo"), new_project_photo_path(current_project) %>
	<ul>
	  	<%
	  	if current_project.photos.count > 0
	  	  for photo in current_project.photos %>
  		    <li><%= link_to photo.name, project_photo_path(current_project, photo) %> <span class="date">(<%= photo.created_at.strftime("%b, %d %Y at %I:%M %p") %>)</span></li>
  		  <% end %>
  		<% else %>
  			<li><em>This project has no photos.</em></li>
  	  	<% end %>
  	  	</ul>
</div>
<div id="sidebar">
  <h3><%= link_to "&#187; Back to Project Home", project_path(current_project) %></h3>
  <%= render :partial => "projects/project_sidebar"  %>
</div>
