    <h1><%= yield(:title) %></h1>
<% title "Photo" %>

<p>
  <strong>Name:</strong>
  <%=h @photo.name %>
</p>
<p>
  <strong>Project:</strong>
  <%=h @photo.project_id %>
</p>
<p>
  <%= image_tag @photo.image.url %>
</p>

<p>
  <%= link_to "Edit", edit_project_photo_path(project_param, @photo) %> |
  <%= link_to "Destroy", [current_project, @photo], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", project_photos_path(project_param) %>
</p>
