<div id="login">
<% form_for [current_project, @screenshot] do |f| %>
  <h3>Screenshot Details:</h3><br />
  <%= f.error_messages %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </fieldset>
  <fieldset>
    <%= f.label :source_url %>
    <%= f.text_field :source_url %>
  </fieldset>
  <p class="align_right"><%= f.submit "Take Screenshot" %></p>
<% end %>
</div>

