<% form_for [current_project, @screenshot] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.label :source_url %><br />
    <%= f.text_field :source_url %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
