	<div class="item">	
	<h2><span>Photos: (<%= current_project.screenshots.count %>)</span><% if owner? %><span class="align_right"><%= link_to image_tag("/images/new_screenshot_btn.png", :alt=>"New Screenshot"), new_project_screenshot_path(project_param) + "?width=410&height=230", :class => "thickbox" %> &nbsp; <%= link_to image_tag("/images/manage_btn.png", :alt=>"Manage Photos"), manage_project_photos_path(project_param) %></span><% end %></h2>
	  	<%
	  	if current_project.screenshots.count > 0
	  	  for screenshot in current_project.screenshots.recent(3) %>
	    	<div class="thumb <%= cycle('normal', 'alt') %>"">
	    		<%= link_to image_tag(screenshot.image_url(150)), screenshot.source_url %>
	    		<div class="name"><%= screenshot.name %><br /><%= screenshot.created_at.strftime("%b, %d %Y at %I:%M %p") %></div>
	    	</div>
  		  <% end %>
		  <div class="clear"><br /></div>
  		<% else %>
		<ul class="linklist">
  			<li><em>This project has no screenshots.</em></li>
  	  	</ul>
  	  	<% end %>
  	  	<%= link_to "View All Screenshots &#187;", project_screenshots_path(project_param) %>
  	</div>
