	<div class="item">	
		<h2><span>Screenshots: (<%= current_project.screenshots.count %>)</span><span class="align_right"><%= link_to image_tag("/images/new_screenshot_btn.png", :alt=>"New Screenshot"), new_project_screenshot_path(current_project) %></span></h2>
		<ul>
	  	<%
	  	if current_project.screenshots.count > 0
	  	  for screenshot in current_project.screenshots.recent(5) %>
  		    <li><%= link_to screenshot.name, project_screenshots_path(current_project, screenshot) %> <span class="date">(<%= screenshot.created_at..strftime("%b, %d %Y at %I:%M %p") %>)</span></li>
  		  <% end %>
  		<% else %>
  			<li><em>This project has no screenshots.</em></li>
  	  	<% end %>
  	  	</ul>
  	  	<%= link_to "View All Screenshots &#187;", project_screenshots_path(current_project) %>
  	</div>
