<% title "Screenshot" %>
    <h1><%=h yield(:title) %></h1>

<p>
  <strong>Name:</strong>
  <%=h @screenshot.name %>
</p>
<p>
  <strong>Project:</strong>
  <%=h @screenshot.project_id %>
</p>
<p>
  <strong>Source Url:</strong>
  <%=h @screenshot.source_url %>
</p>
<p>
  <%= image_tag @screenshot.image_url(600) %>
</p>

<p>
  <%= link_to "Edit", edit_project_screenshot_path(project_param, @screenshot) %> |
  <%= link_to "Destroy", [current_project, @screenshot], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", project_screenshots_path(project_param) %>
</p>
