<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'farbtastic' %>
    <%= stylesheet_link_tag 'thickbox' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'farbtastic' %>
    <%= javascript_include_tag 'thickbox' %>
    <%= yield(:head) %>
  </head>
  <body>
  <div id="container">
	<div id="header">
		<a id="logo" href="/" alt="MyIdeaDrawer"><img src="/images/logo.jpg" width="435" height="115"></a>
		<ul id="top_nav">
			<% if logged_in? %>
			<li><%= link_to "Projects", projects_url %></li>
			<li><%= link_to "Log Out", logout_url %></li>
			<% else %>
			<li><%= link_to "Join", signup_url %></li>
			<li><%= link_to "Log In", login_url + "?width=420&height=400", :class=> "thickbox" %></li>
			<% end %>
			<li><%= link_to "About", about_url %></li>
			<li><%= link_to "Tour", tour_url %></li>
		</ul>
	</div>
	<div id="content">
		<% if logged_in? %>
		<div id="welcome_bar">
			Welcome back, <%= current_user.username %>!&nbsp;&nbsp;&nbsp;&nbsp;
			<small><%= link_to "My Account", edit_user_path(:current) %></small>
		</div> 
		<% else %>
		<div id="welcome_bar">
			Hi, there! We noticed you're not logged in. Why not register for an account? It's free and easy. <small><a href="/tour">Here's how!</a></small>
		</div> 
		<% end %>
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%= yield %>
      <div class="clear">&nbsp;</div>
	</div>
	<div id="footer">
		MyIdeaDrawer is a <a href="http://railsrumble.com" title="Rails Rumble 2008">Rails Rumble 2008</a> project by <a href="http://railscasts.com" title="Ryan Bates">Ryan Bates</a> and <a href="http://kellishaver.com" title="Kelli Shaver">Kelli Shaver</a>
	</div>
  </div>
  </body>
</html>
